/****** GENERAL ******/
@font-face {
  font-family: 'OpenSans';
  src: url(../assets/fonts/OpenSans-Regular.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
*:focus {
  outline: none;
}

:root {
  --light-color: #E5DCC3;
  --light-accent-color: #C7BEA2;
  --dark-color: #7e796d;
  --dark-accent-color: #beb8a4;
  --black-color: #111;
  --shadow: 3px 3px 6px #555;

  --border-radius-large: 20px;
  --border-radius: 7px;

  --transition: 300ms;
  --fast-transition: 100ms;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  font-size: 1rem;
  padding: 0.6em 1.7em;
  font-weight: bold;
  font-family: 'OpenSans', 'Arial', sans-serif;

  border-radius: var(--border-radius);
  border: none;
}

body {
  position: relative;
  min-height: 100vh;
  font-size: 20px;
  font-family: 'OpenSans', 'Arial', sans-serif;
  background: var(--light-color);
}

.btn {
  font-size: 1.2rem;
  padding: 0.3em 1em;

  font-family: 'OpenSans', 'Arial', sans-serif;
  font-weight: bold;
  background-color: var(--black-color);
  color: var(--dark-accent-color);
  letter-spacing: 2px;
  border: none;
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: transform var(--fast-transition);
}
.btn:hover {
  transform: skew(-8deg, 0deg);
}

.link {
  transition: transform var(--fast-transition);
}
.link:hover {
  transform: scale(1.1);
}

.no-bg-btn {
  padding: 0px;
  color: var(--black-color);
  background-color: transparent;
  border: none;
  transition: transform var(--fast-transition);
}
.no-bg-btn:hover {
  transform: scale(1.15);
  border: none;
}

/****** HEADER ******/
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.5rem;

  background: linear-gradient(0deg, var(--dark-accent-color), var(--dark-color));
  box-shadow: var(--shadow);
}

.header__wrapper {
  padding: 1rem;
  margin-right: 1.5rem;
}

.header__logo{
  margin-right: 0.5rem;
  width: 40px;
  transform: translateY(7px);
  transition: transform calc(var(--fast-transition) * 3);
}
.header__logo:hover {
  transform: translateY(7px) rotateZ(360deg);
}

.header__title {
  display: inline-block;
}

.search {
  display: flex;
  align-items: center;
}

.search__input-wrapper {
  position: relative;
  display: flex;
}

.search__input {
  width: 100%;
}

.search__btn_clear {
  position: absolute;
  font-size: 30px;
  top: 0px;
  right: 0px;
  padding: 0px 10px;
  font-weight: bold;
  color: var(--black-color);
  background-color: transparent;
  transition: transform var(--fast-transition);
  border: none;
}
.search__btn_clear:hover {
  background-color: transparent;
  transform: scale(1.2) rotateZ(90deg);
  border: none;
}

.search__btn_find {
  margin: 0 1rem;
}


/****** MAIN ******/
.main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 4rem 0px 8rem 0px;
}

.main__images-container {
  padding: 0 1em;
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.main__image-wrapper {
  position: relative;
  width: 440px;
  height: 440px;
  overflow: hidden;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.main__image {
  position: absolute;
  top: 50%;
  left: 50%;
  
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: transform var(--transition);
  transition-delay: 50ms;
}

.main__image:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.main__msg {
  font-size: 2rem;
  text-align: center;
  padding-top: 2em;
}

.main__msg_no-results,
.main__msg_no-more-images {
  display: none;
}


/****** GALLERY ******/
.gallery {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100vh;
  z-index: 10;
  padding: 1rem 3rem;

  display: none;
  justify-content: center;
  align-items: center;

  background-color: #e5dcc3b0;
  backdrop-filter: blur(4px);
  overflow: hidden;
}

.gallery__btn {
  padding: 0px 30px;
  font-size: 50px;
  font-weight: bold;
  transition: transform 50ms;
}

.gallery__btn-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 80%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery__btn_previous,
.gallery__btn_next {
  padding: 0px 50px;
  height: 100%;
}

.gallery__btn_close{
  position: absolute;
  top: 2%;
  right: 0px;
  z-index: 20;
}

.gallery__img {
  max-width: 80%;
  max-height: 90%;

  border-radius: var(--border-radius-large);
  box-shadow: var(--shadow);
}

/****** FOOTER ******/
.footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 1rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  background: linear-gradient(0deg, var(--dark-accent-color), var(--dark-color));
}

.footer__btn {
  font-size: 15px;
  margin: 0 1em;
}

.footer__link {
  width: 30px;
  margin: 0 1em;
}


@media (max-width: 975px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
  }
  
  .header__title {
    margin: 0 0 1rem 0;
  }

  .main__image-wrapper {
    width: 500px;
    height: 500px;
  }

  .gallery__btn-wrapper {
    transform: translate(-50%, -40%);
    align-items: flex-end;
  }

  .gallery__btn_previous,
  .gallery__btn_next {
    width: 25%;
    padding: 0px;
    padding-bottom: 1rem;
    font-size: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .gallery__btn_previous:hover,
  .gallery__btn_next:hover {
    transform: none;
  }

  .gallery__img {
    max-width: 90%;
    max-height: 95%;
  }  
}

@media (max-width: 800px) {
  .gallery {
    padding: 1rem;
  }
  .gallery__btn_previous,
  .gallery__btn_next {
    width: 20%;
  }
  .gallery__img {
    max-width: 98%;
    max-height: 75%;
  }  
}

@media (max-width: 570px) {
  .header__title {
    font-size: 2rem;
  }

  .main__image-wrapper {
    width: 350px;
    height: 350px;
  }

  .search {
    justify-content: center;
    width: 100%;
    padding: 0 1rem;
  }

  .footer {
    padding: 1rem 0px;
    font-size: 25px;
  }

  .github {
    width: 30px;
  }
  .rs {
    width: 60px;
  }
  
}

@media (max-width: 430px) {
  .header__wrapper {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .header__logo {
    margin-bottom: 1rem;
  }
  .header__title {
    font-size: 1.7rem;
  }

  input {
    padding: 0.3em 0.9em;
  }

  .btn {
    font-size: 0.8rem;
    padding: 0.3em 1em;
  }

  .gallery__btn_previous,
  .gallery__btn_next, 
  .gallery__btn_close {
    padding: 0px 1rem;
    font-size: 30px;
  }

  .gallery__img {
    max-height: 98%;
  }  

  .search {
    justify-content: center;
    width: 100%;
    padding: 0 1rem;
  }

  .search__btn_clear {
    font-size: 1.2rem;
    top: 2px;
    right: 5px;
    padding: 0px;
  }
  
  .main__image-wrapper {
    width: 250px;
    height: 250px;
  }

  .footer__btn {
    margin: 0.5rem;
  }
}